body {
  background-color: #f5f3ef;
}
.fun {
  font-family: 'Yeseva One', cursive;
  margin-top: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  height: 48px;
  border-bottom: 1px dotted #777;
  z-index: 999;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
  height: 3em;
}
.row#home {

  background-color: white;
  margin: 0px;
  padding-bottom: 3em;
  padding-top: 8em;
  padding-left: 30px;
  padding-right: 30px;


}

div.logo h3 {
	margin-top:10px;
}

figure {
  margin-bottom: 20px;
}
figcaption {
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: .9rem;
  line-height: 1.1rem;
  color: gray;
  letter-spacing: .1pt;
}
#checkbox {
  display: none;
}

#checkbox:checked~nav ul {
  max-height: 100vh;
  transition: all 0.5s;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
}

.big {
  letter-spacing: -.5pt;
  line-height: 200%;
  font-weight: bold;
}

.bigtext {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

#bigquote {
 font-size: 1rem;
 line-height:1.2rem;
 font-weight:500;
 background-color:#ffffff;
padding-bottom: 20px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}

.pad {
  padding: 2em;
}

a, a:hover, a:visited{
  color: var(--accent);
  /* color: rgb(140, 79, 14); */
}


ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1.5ch;
  text-indent: -1.5ch;
  margin-bottom: .5em;
}

:not(nav) > ul:not(.taglist) > li:before {
  content: "+";
  padding-right: .5ch;
  display: inline;
  vertical-align: middle;
  top: -5px;
}

.marginbottom {
  margin-bottom: 1rem;
}

ul.taglist, ul.taglist li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: inline;
    font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .9em;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.3em;
}

ul.taglist li {
    color: black;
    background-color: yellow;
    white-space: nowrap;
}

mark {
	padding: 0.125rem 0.25rem;
	background-color: initial;
	color: var(--mark-color);
	vertical-align: baseline;
}
#portrait {
margin-top: 24px;
}

main {
  margin-top: 50px;
}
table {
  font-size: 12px;
}
.menu {
  /* background-color: var(--lightaccent); */
  background-color: black;
  color: #fff;
}
.menu-wrap {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  font-size: 2em;
  line-height: 45px;
}

nav {
  position: absolute;
  left: 0px;
  top: 50px;
  background-color: black;
  width: 100%;
  display: flex;
}

nav ul {
  list-style-type: none;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  border-bottom: 0px solid #ccc;
  /* display: flex; */
}

nav ul li {
  padding-left: 30px;
  padding-bottom: 6px;
  text-indent: 0px;
}

nav ul li a {
  /* Add your custom styles below to change appearance of links */
  color: white;
  text-decoration: none;
  /* letter-spacing: 0.05em; */
  /* background-color: #fff; */
}
nav ul li a:visited {
  color: white;
}

nav ul li a:hover, nav ul li a:focus {
  /* color: #666; */
  text-decoration: underline;
}

.logo a h3 {
  color: white;
}

.border {
border: 1px solid #888;
}

.headline {
            font-size: 2.0em;
            line-height:1.5em;
            font-weight: 200;
          }


@media screen and (min-width: 480px) {
.headline {
            font-size: 2.6em;
            line-height:1.4em;
            font-weight: 200;
          }
.row#home {

  /* background-color: var(--lightaccent); */
  margin: 0px;
  padding-bottom: 3em;
  padding-top: 8em;
  padding-left: 30px;
  padding-right: 30px;


}
}

@media screen and (min-width: 1000px) {
.headline {
            font-size: 3.5em;
            line-height:1.4em;
            font-weight: 200;
            margin-top: 1.2em;
          }
.row#home {
  /* background-color: var(--lightaccent); */
  /* margin: 0px; */
  /* padding-bottom: 3em; */
  /* padding-top: 8em; */
  padding-left: 0px;
  padding-right: 0px;
}
  header {
  /* padding-left: 0px; */

  }

 .menu-icon {
    display: none;
  }
  
  #bigquote {
 font-size: 1.5rem;
 line-height:2.0rem; 
 font-weight:500;
 background-color:#ffffff;
padding-bottom: 50px;
padding-top: 50px;
padding-left: 50px;
padding-right: 30px;
}


  nav {
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
    flex: 3;
    top: 0px;
    border: none;
    margin-top: 10px;
  }

  nav ul {
    text-align: right;
    max-height: 50px;
  }

  nav ul li {
    display: inline-flex;
    padding-left: 20px;
    line-height: 0px;
    padding-bottom: 0px;
  }
  


.logo {
	flex: 2;
}

.logo a {
	text-decoration: none;
}

.logo h1 {
  margin-top: .3em;
}

img.zoom, img.zoomsmall, img.zoombig {
  transition:.25s all;
}
img.zoom:hover {
  transform:scale(3);
}
img.zoomsmall:hover {
  transform:scale(2);
}
img.zoombig:hover {
  transform:scale(4);
}
img.zoomsmall:hover, img.zoombig:hover, img.zoom:hover{
  border: 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}
