/* filepath: /home/arielc/Documents/work/amyparness_portfolio_24/amy_portfolio_25_a/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    min-height: unset;
  }
  .headline {
    @apply text-4xl sm:text-5xl md:text-5xl lg:text-5xl xl:text-7xl 2xl:text-6xl
    leading-[3.25rem] sm:leading-[3.25rem] md:leading-[3.25rem] lg:leading-[3.25rem] xl:leading-[4.5rem] 2xl:leading-[3.5rem] my-0;
  }
  .badgelist {
    @apply flex flex-wrap gap-1 lg:gap-2 mt-8 mb-3;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-black leading-snug;
  }
  h2:not(:first-child) {
    @apply mt-12;
  }
  h3:not(:first-child) {
    @apply mt-6;
  }
  h4:not(:first-child) {
    @apply mt-4;
  }
  ul:not(:first-child),
  ol:not(:first-child) {
    @apply mt-2;
  }
  p:not(:first-child) {
    @apply mt-2;
  }
  h1 {
    @apply text-4xl  sm:text-5xl 2xl:text-6xl font-display font-bold text-pretty mb-4;
  }
  h2 {
    @apply text-3xl lg:text-4xl 2xl:text-4xl font-extralight mb-2 xl:mb-4;
  }
  h3 {
    @apply text-lg font-bold lg:text-xl;
  }
  h4 {
    @apply font-bold;
  }
  a {
    @apply italic underline decoration-2 hover:decoration-1 decoration-dotted  hover:decoration-solid visited:decoration-dashed hover:decoration-zinc-600  text-zinc-600 hover:text-zinc-900;
  }
  p {
    @apply text-pretty  mb-4;
    /* @apply text-pretty leading-tight tracking-tight mb-4; */
  }
  ul {
    @apply list-disc pl-5;
  }
  ol {
    @apply list-decimal pl-5;
  }
  li {
    @apply mb-2;
  }
  li p:first-child {
    @apply mb-0;
  }
  li p:not(:first-child) {
    @apply mt-0;
  }
  strong {
    @apply font-semibold;
  }
  em {
    @apply italic;
  }
  .bevel {
    @apply border border-[#fff] border-b-zinc-200 border-r-zinc-200 ring-1 ring-black/10;
  }
  .mockup-browser .mockup-browser-toolbar .input {
    @apply !w-max;
  }
}
