{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="grow items-center px-4 py-24 bg-gradient-to-t from-cyan-100 to-pink-100">
  <div class="max-w-screen-md mx-auto ">
    {% if this.showtitle %}<h2>{{ this.title }}</h2>{% endif %}
    {{ this.html01 }}
    <blockquote>
      <p>S U M M A R Y</p>
      <p>My ability to learn quickly and research has allowed me to jump into
        different industries and tackle complicated projects. I strive to design
        solutions where the needs and interests of society, business and design
        overlap. I am currently studying data visualization at Parsons to
        improve my data skills and literacy.</p>
    </blockquote>
    <h3 id="experience">Experience</h3>
    <div after="+" class="btn-collapse collapsible" id="ux-lead-cisco-meraki-may-2023-present"><span
        class="uppercase">UX Lead</span> Cisco Meraki
      May 2023-Present
    </div>
    <div class="div-collapse">
      <ul class="m-8">
        <li>Lead efforts in supporting the merger of Cisco and Meraki
          networking teams, focusing on enterprise SaaS products to prioritize a
          unified user experience.</li>
        <li>Spearhead initiatives across the Meraki website, networking
          products, cloud services, and API Marketplace, resulting in a 300%
          increase in leads post-UX redesign of marketplace.</li>
        <li>Advise executives and stakeholders on CTA strategy, streamlining
          licensing information and enhancing user journeys through data and
          testing.</li>
        <li>Champion sustainability messaging and opportunities for
          enterprise products, collaborating with a tiger team focused on
          sustainability initiatives.</li>
        <li>Manage and collaborate with a data team to drive research plans
          and analyze user journeys, CRO, and funnels to inform design decisions
          and UX strategy.</li>
        <li>Co-leading a redesign of datasheets, the most viewed asset by
          customers.</li>
      </ul>
          <button class="m-8 btn-tag"><a href="https://amyparness.sparklelabs.com/cisco.html">Portfolio page</a></button>
    </div>
    <div class="btn-collapse collapsible"
      id="product-strategy-design-growth-sr-consultant-moxxii-consulting-2018-2023">Product
      Strategy, Design &amp; Growth | Sr Consultant | Moxxii Consulting |
      2018-2023
  </div>
    <div class="div-collapse">
    <ul class="p-8 prose">
      <li>Clients include: <a>Bokksu</a>, Juice Beauty, Fusion Beads, Discount Low
        Voltage, Lana Jewelry and Oscar de la Renta</li>
      <li>Created more than 500M in revenue for medium and large sized B2B and
        D2C clients through personalization and segmentation. Presented
        recommendations to C-level management.</li>
      <li>Generated over $500M in revenue for medium and large-sized B2B
        and D2C clients through datastack improvements, personalization and
        segmentation strategies.</li>
      <li>Led business value consulting team, prioritizing actionable tasks
        and advising clients on revenue-impacting issues and new
        opportunities.</li>
      <li>Conducted user research activities to uncover insights and guide
        product development strategies.</li>
      <li>Collaborated with clients' teams to align on overall strategy,
        including product lines, new customers, and content strategy.</li>
    </ul>
  </div>
    <div class="btn-collapse collapsible" id="product-director-partner-sparkle-labs-2004-present">
      Product Director / Partner | Sparkle Labs | 2004-Present
    </div>
    <div class="div-collapse">
    <ul class="p-8">
      <li>Designed, developed, and marketed seven accessible educational
        electronics kits used in STEM learning across educational
        institutions.</li>
      <li>Managed logistics, warehousing, and team of industrial designers
        and engineers, resulting in national recognition and media
        features.</li>
      <li>Research, prototype and test innovative electronics products and
        curriculum</li>
      <li>Create budgets, project plans for products and handle billing,
        P&amp;L</li>
      <li>Create climate education for NJ schools and teach professional
        development</li>
    </ul>
  </div>
    <div class="btn-collapse collapsible" id="uxui-design-manager-ascena-retail-anntaylor-loft-replatform-2022">
      UX/UI Design Manager | Ascena Retail | AnnTaylor &amp; Loft Replatform | 2022
    </div>
    <div class="div-collapse">
    <ul class="p-8">
      <li>Managed a team of UX designers, off-shore developers, PMs and
        business stakeholders in the</li>
      <li>digital transformation of Ascena’s large e-commerce sites, AnnTaylor
        and Loft with minimal negative impact on their 600M online revenue.</li>
      <li>Managed digital transformation of e-commerce sites, optimizing
        user experience and maintaining $600M online revenue.</li>
      <li>Prioritized ADA accessibility and developed atomic design system
        to enhance overall UX/UI consistency.</li>
      <li>Created workflow and QA plan for the UX and Design teams that
        eliminated recurring meetings and resulted in faster delivery of designs
        to the development team.</li>
    </ul>
    </div>
    <div class="btn-collapse collapsible"
      id="principal-product-design-owner-customer-portal-saas-lucid-motors-2021">Principal
      Product Design / Owner | Customer Portal (SaaS), Lucid Motors |
      2021</div>
    <div class="div-collapse">
    <ul class="p-8">
      <li>Released a uniquely personalized customer portal at scale in a short
        time period using existing materials, ML and an Omnichannel approach for
        the $12.34 billion EV start-up. Helped define go-to-market strategy.</li>
      <li>Produced multimodal research: competitor research, stakeholder
        and customer interviews, and user testing to define needs and identify
        personalization opportunities.</li>
      <li>Created initiatives to shift company culture to a user-centered
        approach by reframing projects around customer needs.</li>
      <li>Leveraged Salesforce to personalize the experience for users in
        different phases of design, reservation, delivery, and
        ownership</li>
      <li>Created the vision for developing, communicating, and
        implementing the user experience; followed through with the processes
        and tactics to implement the vision.</li>
      <li>Piloted service design workshops with service, delivery and
        publications departments to align with stakeholder’s roadmaps and
        breakdown silos and ensure customer first experience.</li>
    </ul>
    </div>
    <div class="btn-collapse collapsible" id="innovation-ux-strategist-samsung-2019">
      Innovation &amp; UX Strategist | Samsung | 2019</div>
    <h4 id="ux-director-one-rockwell-2014--2018">Ux Director | One Rockwell
      2014- 2018**</h4>
    <h5 id="client-alex-ani">Client: Alex + Ani</h5>
    <p>re-positioned their philanthropy product line, Charity by Design,
      which resulted in its growth from $30 million to $500 million in the two
      years after launch.<br />
    </p>
    <h4 id="ux-director-createthegroup-2010-2014">Ux Director |
      CreateTheGroup 2010-2014</h4>
    <h5 id="client-peninsula-hotels">Client: Peninsula Hotels</h5>
    <p>Increased AOV by 30% by adding the ability to book high-end suites
      online and personalized add-ons in checkout. Decreased customer service
      calls by designing better room detail pages and comparisons.</p>
    <h5 id="client-godiva">Client: Godiva</h5>
    <p>Nearly doubled Godiva’s online revenue by creating a Look Inside and
      more transparent gifting experience for D2C and B2B customers.</p>
    <h3 id="education">Education</h3>
    <h5 id="masters-nyu-interactive-telecommunications-program">Masters |
      Nyu Interactive Telecommunications Program</h5>
    <p>HCI and Product Design</p>
    <h5 id="bachelors-boston-university">Bachelors | Boston University</h5>
    <p>International Relations, Communication Design</p>
    <h5 id="year-abroad-universidad-de-buenos-aires-argentina">Year Abroad |
      Universidad De Buenos Aires, Argentina</h5>
    <p>South American Politics, Economics &amp; Literature</p>
    <h5 id="the-new-school">The New School</h5>
    <p>Data Visualization Certificate Dec 2024</p>
    <h3 id="s-k-i-l-l-s">Skills</h3>
    <h4 id="ux">UX</h4>
    <p>Wireframing, Graphic Desaign, Heuristic Evaluations, Competitive
      Analysis, Survey Design and Analysis, Stakeholder interviews, Service
      Design Workshops, User testing, Design System Creation and Governance,
      Journey mapping, Personas, Card Sorting, Tree testing, Scenario
      Generation for UAT, and Content Strategy.</p>
    <h4 id="data">Data</h4>
    <p>Google Analytics, ContentSquare, Adobe Analytics, 6sense,Data Studio,
      Typeform, Optimizely, Mailchimp, Hotjar, SearchSpring, Yotpo, Gorgias,
      Decibel and Tableau.</p>
    <h4 id="computer">Computer</h4>
    <p>Figma, Axure, Adobe CS, Miro, AEM, Jira, Final lCut Pro, Adobe Suite,
      <a>Invision</a>, Omnigraffle, Asana, Klaviyo, Trello, Slack, Confluence,
      Wordpress, HTML, Javascript, and CSS</p>
    <h4 id="languages">Languages</h4>
    <p>English (native), Spanish (fluent)</p>
    <h3 id="c-o-m-m-u-n-i-t-y-w-o-r-k">Community Work</h3>
    <h4 id="repair-cafes-montclair-nj">Repair Cafes, Montclair, NJ</h4>
    <p>I organize a bi-annual community repair cafe to keep goods out of
      landfills in collaboration with Montclair Environmental Affairs
      Commission and the Public Library.</p>
    <h4 id="climate-curriculum-taskforce">Climate Curriculum Taskforce</h4>
    <p>I work with Montclair STEM teachers and Montclair Climate Action on a
      curriculum that teaches the new Climate Standards.</p>
    <h3 id="r-e-c-o-g-n-i-t-i-o-n">Recognition</h3>
    <ul>
      <li>Greater Austin Science &amp; Engineering Fair Judge, 2024</li>
      <li>NYC Hackathon Judge Emoticon | 2018, 2019, 2021</li>
      <li>Gallery Hanahou Sparkle Labs Solo Exhibition | SOHO 2010</li>
    </ul>

    {{ this.body }}
  </div>
</div>
{% endblock %}