{% macro next_project(current_project) %}
{% set projects = {
  'lucid': {'next': '../ai-and-data/'},
  'ai-and-data': {'next': '../sustainability/'},
  'sustainability': {'next': '../real-customers/'},
  'real-customers': {'next': '../ecommerce-expertise/'},
  'ecommerce-expertise': {'next': '../datasheets/'},
  'datasheets': {'next': '../ascena/'},
  'ascena': {'next': '../lucid/'}
} %}

{% if current_project in projects %}
<div class="container mx-auto px-4 text-center py-24">
  <a href="{{ projects[current_project]['next'] }}" class="font-light text-lg hover:text-primary underline decoration-dotted">Next project</a> →
</div>
{% endif %}
{% endmacro %}
