<div class="bg-base-100 py-24">
  <div class="container mx-auto mb-24 px-4">
    <div class="grid gap-12">
      <div class="prose">
        <h1>AI chat assistant for Meraki Marketplace</h1>
        <p>
          User research showed that developers would need to filter results
          several times before arriving at an API that might meant their
          business need. They searched very specific criteria and this required
          more effort to find a potential match.
        </p>
        <p>
          Designing a GenAI chatbot and search tool to utilize Cisco's AI
          assistant to find APIs for their business more quickly was our goal. I
          created some common flows and intents based on search results and
          session replays.
        </p>

        <!--
      <ul class="list-none">
          <li><strong>Spearheaded</strong> a comprehensive data analysis project to review user journeys of sustainability-focused users.</li>
          <li><strong>Directed</strong> the analysis of UX research data, including interviews, surveys, and usability testing, to gain deep insights into user preferences and behavior.</li>
      </ul>

      <h2>Results:</h2>
      <ul class="list-none">
          <li><strong>Identified critical barriers</strong>, such as fragmented information placements and the absence of energy data, which hindered user engagement.</li>
          <li><strong>Recognized</strong> that high-level sustainability information, while engaging for Press and people researching Cisco, failed to drive users to product and solution pages, necessitating a strategic overhaul.</li>
      </ul>
      --></div>
      <div class="">
        <img src="aichat01.png" class="mb-4" />
        <img src="aichat02.png" class="mb-4" />
      </div>
    </div>
  </div>
</div>

<div class="bg-white pb-24">
  <div class="container mx-auto mb-24 px-4">
    <div class="mt-24">
      <div class="prose">
        <h1 class="mb-8">Meraki Marketplace AI search</h1>
      </div>
      <div class="grid xl:grid-cols-2 gap-12 my-12">
        <a href="merakiaisearch_home.jpg">
          <img
            src="merakiaisearch_home.jpg"
            class="drop-shadow-lg rounded mb-4"
          />
        </a>
        <div class="prose">&nbsp;</div>
      </div>
      <div class="grid xl:grid-cols-2 gap-12">
        <a href="merakiai_01.jpg">
          <img src="merakiai_01.jpg" class="drop-shadow-lg rounded mb-4" />
        </a>
        <a href="merakiai_02.jpg">
          <img src="merakiai_02.jpg" class="drop-shadow-lg rounded mb-4" />
        </a>
      </div>
    </div>
  </div>
</div>
<!--
<div class="bg-white py-32">
  <div class="container mx-auto mb-24 px-4">
    <div class="prose mb-16">
      <h1>Data Visualization</h1>
    </div>
    <div class="grid sm:grid-cols-2 gap-12 mb-16">
      <div class="prose">&nbsp;</div>
      <div class="prose">
        <h2 class="mb-4">Before:</h2>
        <img src="assurance.jpg" class="mb-4" />
      </div>
    </div>
    <div class="grid gap-12">
      <div class="">
        <div class="prose">
          <h2 class="mb-4">After:</h2>
        </div>
        <img src="bar.jpg" class="mb-4" />
      </div>
    </div>
  </div>
</div>

<div class="bg-primary py-40">
  <div class="container mx-auto mb-24 px-4">
    <div class="prose">
      <h2 class="mb-4">Before:</h2>
    </div>
    <div class="grid sm:grid-cols-2 gap-12 mb-24">
      <div class="">
        <img src="before_erate.jpg" class="mb-4" />
      </div>
      <div>
        <img src="beforeerate2.jpg" class="mb-4" />
      </div>
    </div>
    <div class="grid gap-12">
      <div class="">
        <div class="prose">
          <h2 class="mb-4">After:</h2>
        </div>
        <img
          src="infographicerate.jpg"
          class="rounded lg:w-3/4 2xl:w-1/2 mb-4"
        />
      </div>
    </div>
  </div>
</div>

<div class="py-40">
  <div class="container mx-auto mb-24 px-4">
    <div class="grid md:grid-cols-2 gap-12 mb-24">
      <div class="">&nbsp;</div>
      <div class="">
        <div class="prose">
          <h2 class="mb-4">Before:</h2>
        </div>
        <img src="beforetechplanning.png" class="mb-4" />
      </div>
    </div>
    <div class="">
      <div class="prose">
        <h2 class="mb-4">After:</h2>
      </div>
      <video class="w-full" width="" height="" autoplay loop>
        <source src="techplanning.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
-->
<div class="bg-base-100 py-40">
  <div class="container mx-auto mb-24 px-4">
    <div class="grid md:grid-cols-2 gap-12 mb-24">
      <div class="prose">
        <h1>Educating the team</h1>
        <p>
          I created an AI primer for the team to learn what are the costs and
          effort in adding the new tools to the marketplace. This helped get
          everyone from sales, engineering, and product up to speed and on the
          same page.
        </p>
        <p>
          <a href="aiprimer.pdf" class="underline font-bold">
            Download the primer</a
          >
        </p>
      </div>
      <div class="">
        <a href="aiprimer.pdf" class="">
          <img
            src="aiprimer_screen.jpg"
            class="w-3/4 sm:w-1/2 md:w-full lg:w-3/4 xl:w-1/2 shadow-xl border mb-4"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-40">
  <div class="container mx-auto mb-24 px-4">
    <div class="grid md:grid-cols-2 gap-12 mb-24">
      <div class="prose">
        <p>
          I experimented with Google’s Dialogflow CX to create a chatbot for my
          portfolio. I used my resume, case studies, and my website content to
          allow Hiring Mangers to learn more about me In a conversational flow.
        </p>
      </div>
      <div class="">
        <img
          src="googleflow.png"
          class="w-3/4 sm:w-1/2 md:w-full lg:w-3/4 xl:w-1/2 mb-4"
        />
      </div>
    </div>
  </div>
</div>
