<div class="py-24 mt-24 bg-gray-200">
  <div class="container mx-auto px-4">
    <div class="prose mb-8">
      <h1>Design system and components</h1>
      <p class="">
        A Design System and components had to be created for both sites with
        detailed annotations in order to allow off-shore dev teams to build
        using the correct spacing and design. Using components also allowed us
        to redesign for ADA compliance by changing colors and spacing quickly
        throughout all of the pages.
      </p>
    </div>
    <div class="grid sm:grid-cols-2 gap-8">
      <div>
        <a href="search.png" target="_blank">
          <img src="search.png" class="responsive shadow" />
        </a>
      </div>
      <div>
        <a href="functionalities.png" target="_blank">
          <img src="functionalities.png" class="responsive shadow" />
        </a>
      </div>
    </div>
  </div>
</div>

<iframe
  class="mb-24"
  width="100%"
  height="1200"
  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FTTFvPp1Qzz2Soy4ZUZGcpM%2FStyleGuide%3Fnode-id%3D1-2%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D1%253A2"
  allowfullscreen
></iframe>

<div class="py-24 my-0">
  <div class="container mx-auto px-4">
    <div class="prose mb-8">
      <h1>ADA compliance</h1>
      <p class="">
        A thorough ADA review of the new designs showed that we needed to
        incorporate requirements into our new Design System. Things like
        contrast, using the same icons for different actions, and outlining
        colors for products were some of the changes we made.
      </p>
    </div>
    <div class="grid sm:grid-cols-3 gap-8">
      <div>
        <img src="outlines.png" class="responsive shadow" />
      </div>
      <div>
        <img src="sameicons.png" class="responsive shadow" />
      </div>
      <div>
        <img src="contrast.png" class="responsive shadow" />
      </div>
    </div>
  </div>
</div>

<div class="py-24 my-24 bg-gray-200">
  <div class="container mx-auto px-4">
    <div class="prose mb-8">
      <h1>Final ADA compliant responsive designs</h1>
    </div>
    <div class="grid sm:grid-cols-4 gap-8">
      <div>
        <a href="full_hp_at_1.png" target="_blank">
          <img src="full_hp_at_1.png" class="responsive shadow" />
        </a>
      </div>
      <div class="col-span-3">
        <a href="hp_provided.png" target="_blank">
          <img src="hp_provided.png" class="responsive shadow" />
        </a>
      </div>
    </div>
  </div>
</div>
