<div class="bg-white mt-24 pb-48 lg:pb-64">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h3 class="font-light text-base uppercase">The Process</h3>
      <!-- <h4 class="mb-12 font-bold text-5xl sm:leading-tight ">What is a best in class portal?</h4> -->
      <h1 class="">Finding opportunities in data</h1>
      <p class="mb-12">
        Bokksu needed to reach a valuation of 100M by the end of the year. In
        addition to needing an increase in new customers, Bokksu needed to
        greatly increase customer retention. I led the product team research and
        worked with C-suite managers to ruthlessly prioritize a roadmap to
        achieve their goal.
      </p>
    </div>
  </div>
</div>
<div class="">
  <div
    class="container mx-auto px-4 py-48 lg:py-64 bg-transparent border-y-2"
    data-theme="drcula"
  >
    <div class="prose mb-24">
      <h3 class="font-light text-base uppercase">Research &amp; Analysis</h3>
      <!-- <h4 class="mb-12 font-bold text-5xl sm:leading-tight ">What is a best in class portal?</h4> -->
      <h1 class="">Who are our real customers?</h1>
      <p class="mb-12">
        Initially, Bokksu's influencer partnerships generated high sales
        volumes, but an alarming 80% churn rate prompted a shift towards deeper
        customer insights. Through comprehensive surveys, interviews, and cohort
        analysis utilizing tools like Google Analytics, Little Data, Tresl,
        Yotpo, and Gorgias, we unearthed critical psychographic data beyond
        demographics. This informed the creation of detailed personas and user
        journey maps, revealing significant international customer segments and
        income distributions previously overlooked.
      </p>
    </div>
    <!--
    <div class="flex flex-col sm:flex-row mb-24">
      <div class="basis-1 grow flex place-content-center mb-12">
        <img src="datapuzzle.png" class="sm:w-3/4" />
      </div>
      <div class="basis-1 grow flex place-content-center mb-12">
        <img src="demovpsycho.png" class="sm:w-3/4 object-contain" />
      </div>
    </div>
    -->
    <!-- three items -->
    <div class="flex flex-col md:flex-row gap-8 md:gap-14 w-full">
      <div class="basis-1 grow">
        <h1 class="text-6xl font-black">1</h1>
        <h2 class="text-2xl font-bold mb-4">Segmenting Customers</h2>
        <p class="mb-4">
          Bokksu had GA but we needed to be able to see the information in a
          more customized view. We created dashboards in Data Studio to make our
          analysis easier. Our dashboards allowed us to see things like Time of
          Day customers are the most responsive to conversion rates by country.
        </p>
        <p class="mb-4">
          We began by synthesizing all of the big data using Google Analytics
          with Little Data, Tresl, Yotpo and Gorgias. I created cohorts based on
          the larger data view to narrow down our pool and give us the ability
          to see impact of our efforts on specific customers.
        </p>
        <a href="dashboard.png">
          <img src="dashboard.png" class="mb-4 2xl:rounded-md shadow-lg" />
        </a>
        <a href="data13.png">
          <img src="data13.png" class="2xl:rounded-md shadow-lg" />
        </a>
      </div>
      <!-- <div class="divider md:divider-horizontal"></div> -->
      <div class="basis-1 grow">
        <h1 class="text-6xl font-black">2</h1>
        <h2 class="text-2xl font-bold mb-4">Surveys & Interviews</h2>
        <p class="mb-4">
          I led the team in creating surveys in TypeForm and sending them out to
          these cohorts. Over 100,000 surveys analyzed and 30 1:1 customer
          interviews.
        </p>
        <a href="datacomposite.png">
          <img src="datacomposite.png" class="" basis-1 grow />
        </a>
      </div>
      <!-- <div class="divider md:divider-horizontal"></div> -->
      <div class="basis-1 grow">
        <h1 class="text-6xl font-black">3</h1>
        <h2 class="text-2xl font-bold mb-4">Mapping the Data</h2>
        <p class="mb-4">
          We discovered that Bokksu had a large international customer base.
          Customers had a higher income than previously thought.
        </p>
        <a href="infographic.png">
          <img
            src="infographic.png"
            class="mb-4 2xl:rounded-md 2xl:shadow-lg"
          />
        </a>
        <a href="surveydata.png">
          <img src="surveydata.png" class="2xl:rounded-md shadow-lg" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="my-48 lg:my-64">
  <div class="container mx-auto px-4 mb-12">
    <div class="grid lg:grid-cols-2 gap-6">
      <div class="prose">
        <h1>Creating Three New Personas</h1>
        <p class="">
          Creating new personas was essential to help all teams stay aligned. A
          better understanding of emerging customer segments allows Bokksu to
          tailor products and services to meet specific user needs and gain
          deeper insights into customer behavior and preferences. These new
          personas helped create a competitive advantage, exposing new
          opportunities like personalized marketing strategies, improved
          experience for loyal subscribers, and elevating the gifting
          experience. This approach also helped inform geographic and
          demographic expansions, ensuring continued relevance and success as
          seen in their acquisition of Japan Crate in 2023.
        </p>
      </div>
      <div>
        <a href="dedicated.png">
          <img src="dedicateddad.png" class="2xl:rounded-md shadow-lg mb-12" />
        </a>
        <a href="peter.png">
          <img src="peter.png" class="2xl:rounded-md shadow-lg" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container mx-auto px-4 py-48 lg:py-64 border-t-2">
    <div class="grid lg:grid-cols-2 gap-6 mb-12">
      <div class="prose">
        <span class="text-sm font-regular uppercase">Opportunity 1</span>
        <h2 class="mt-0">Storytelling around family owned makers</h2>
        <p class="">
          Establishing Bokksu as a luxury brand leveraging exclusive
          partnerships with craft food makers. More copy.
        </p>
      </div>
      <div></div>
    </div>
    <div class="grid lg:grid-cols-2 gap-6 mb-12">
      <img
        src="meetourmakers.png"
        class="mb-12 lg:mb-24 rounded-md shadow-lg"
      />
      <img src="comparetable.png" class="mb-12 lg:mb-24 rounded-md shadow-lg" />
    </div>
    <div class="grid lg:grid-cols-2 gap-6 mb-12">
      <div class="prose">
        <span class="text-sm font-regular uppercase">Opportunity 2</span>
        <h2 class="mt-0">International Customers</h2>
        <p class="">
          Bokksu was surprised when I uncovered a loyal international customer
          base that experienced pain points around taxes and shipping.
        </p>
        <p>
          Transparent shipping information and costs were added to checkout.
          After acquiring JapanCrate, Bokksu was able to ship from international
          distribution centers and lower shipping costs.
        </p>
      </div>
      <div>
        <img
          src="international_pricing.png"
          class="mb-12 lg:mb-24 rounded-md shadow-lg"
        />
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-6 mb-12">
      <div class="prose">
        <span class="text-sm font-regular uppercase">Opportunity 3</span>
        <h2 class="mt-0">Focus on the gift giving experience</h2>
        <p class="">
          Revamping the gift-giving experience to ensure transparency and
          delight for both givers and receivers.
        </p>
        <p class="">
          Giving became a focus of the main navigation with a different path
          than subscribers. The gifter and receiver were both given emails
          announcing their gift and subscribers were sent Marketing emails to
          offer them discounts on gifting subscriptions in October and November.
        </p>
      </div>
      <div>
        <img src="gifting.png" class="mb-12 lg:mb-24 rounded-md shadow-lg" />
      </div>
    </div>
  </div>
</div>
<!--
<div class="bg-red-700  py-48 lg:py-64">
  <div class="container mx-auto px-4  mb-12">
    <div class="mb-12 prose !prose-invert">
      <h1 class="">Enhancing User Experience</h1>
      <p>
        Addressing technical challenges, we proposed optimizing page loading delays by highlighting Bokksu’s unique value propositions during wait times, thereby mitigating bounce rates and enhancing user engagement.
      </p>
      </div>
    <img src="dedicateddad.png" class="rounded-md shadow-lg"/>
  </div>
  <div class="2xl:container 2xl:mx-auto">
    <a href="peter.png">
    <img src="peter.png" class="2xl:rounded-md shadow-lg"/>
    </a>
  </div>
</div>
-->

<!--
<div class="bg-[#d7cfe6] py-48 lg:py-64">
  <div class="container mx-auto px-4">
    <div class="prose mb-12">
      <h1 class="">Insights + Prioritization</h1>
      <p>
        Future initiatives include further evaluation of the gifting experience,
        conducting usability tests, A/B testing subscription landing pages, and
        heuristic evaluations. Continuous engagement with interviewees post-gift
        card redemption will further refine our strategies to propel Bokksu
        towards its growth objectives.
      </p>
      <p>
        By providing prioritized action plans to each department, I aimed to
        optimize:
      </p>
      <ul>
        <li>
          <strong>UX:</strong> Usability testing and refinement of subscription
          flows to reduce drop-offs.
        </li>
        <li>
          <strong>Creative:</strong> Integration of maker content across
          customer touch points to enhance engagement.
        </li>
        <li>
          <strong>Data:</strong> Detailed analysis of cancellation patterns by
          region and cohort for targeted strategies.
        </li>
        <li>
          <strong>Marketing:</strong> Implementation of awareness campaigns and
          personalized loyalty programs aligned with user personas.
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<div class="bg-black">
  <div class="container mx-auto px-4 sm:px-4 my-48">
    <h1
      class="prose prose-invert bg-black font-extrabold uppercase text-5xl text-white"
      data-theme="dracula"
    >
      Impact
    </h1>
    <div class="grid lg:grid-cols-2">
      <div class="prose prose-invert bg-black mb-24 mt-16" data-theme="dracula">
        <h2>10X year-over-year growth</h2>
        <p>
          Between 2022 and 2023 <em>Bokksu</em> grew more than any of its
          competitors as a result of their increased focus on gifting and craft.
        </p>
      </div>
      <div class="prose prose-invert bg-black mb-24 mt-16" data-theme="dracula">
        <h2>2023 <em>Bokksu</em> aquires <em>Japan Crate</em></h2>
        <p>
          The success of <em>Bokksu’s</em> international e-commerce, now paired
          with the addition of retail locations across the U.S. will grow
          <em>Bokksu’s</em> reach exponentially.
        </p>
      </div>
    </div>
  </div>
</div>
