<div class="container mx-auto px-4 bg-transparent">
  <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 mb-24 xl:mb-32">
    <div class="prose">
      <h2>Section Title</h2>
      <p>
        Sections are divided by ways I have imroved companies via eCommerce.
        State-of-the-art features, strategy ideas, upselling, smooth UX
      </p>
    </div>
    <div class="flex justify-center">
      <img
        src="alex-103.jpg"
        class="rounded-sm shadow-lg h-auto md:w-1/2 xl:w-2/3"
      />
    </div>
  </div>
  <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 mb-24 xl:mb-32">
    <div class="flex justify-center">
      <img
        src="alex-112.jpg"
        class="rounded-sm shadow-lg h-auto md:w-1/2 xl:w-2/3"
      />
    </div>
    <div class="prose">
      <!-- <h2>Section Title</h2> -->
      <p>
        Sections are divided by ways I have imroved companies via eCommerce.
        State-of-the-art features, strategy ideas, upselling, smooth UX
      </p>
    </div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <img src="alex-107.jpg" class="h-auto max-w-full rounded-sm" />
    <!-- <img src="alex-108.jpg" class="h-auto max-w-full rounded-sm" /> -->
    <img src="alex-109.jpg" class="h-auto max-w-full rounded-sm" />
    <img src="alex-111.jpg" class="h-auto max-w-full rounded-sm" />
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 bg-slate-100 items-start">
    <div class="grid gap-4">
      <div>
        <img src="bally-084.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-085.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-086.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-087.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-088.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-089.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="bally-091.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <!-- <h2>Godiva</h2> -->
      <div>
        <img src="godiva-092.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-093.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-095.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-096.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-098.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-099.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="godiva-100.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img src="godiva-101.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <!-- <h2>Mercedes</h2> -->
      <div>
        <img src="mercedes-000.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-002.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-003.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-005.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-009.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-011.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-013.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-014.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-015.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-016.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-017.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img src="mercedes-021.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-025.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-031.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-037.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-041.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-045.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-055.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-057.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="mercedes-059.png" class="h-auto max-w-full rounded-sm" />
      </div>
      <!-- <h2>Peninsula</h2> -->
      <div>
        <img src="peninsula-065.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-066.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-068.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-070.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-071.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-072.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-074.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-076.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-077.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-079.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-080.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-082.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="peninsula-083.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
    </div>
    <div class="grid gap-4">
      <!-- <h2>Samsung</h2> -->
      <div>
        <img src="samsung-gnb-0.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung-gnb-1.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung-gnb-2.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung-gnb-3.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung-HP.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_1R.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_content.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img
          src="samsung_Creative_160509.jpg"
          class="h-auto max-w-full rounded-sm"
        />
      </div>
      <div>
        <img src="samsung_home.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_main.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img
          src="samsung_mobile_nav.jpg"
          class="h-auto max-w-full rounded-sm"
        />
      </div>
      <div>
        <img src="samsung_PDP-2.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_PDP.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_PDP3.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img
          src="samsung_PDP_detail.jpg"
          class="h-auto max-w-full rounded-sm"
        />
      </div>
      <div>
        <img
          src="samsung_PDP_mobile.jpg"
          class="h-auto max-w-full rounded-sm"
        />
      </div>
      <div>
        <img
          src="samsung_stacking-order.jpg"
          class="h-auto max-w-full rounded-sm"
        />
      </div>
      <div>
        <img src="samsung_tvguide.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
      <div>
        <img src="samsung_users.jpg" class="h-auto max-w-full rounded-sm" />
      </div>
    </div>
  </div>
</div>
