<div class="container mx-auto px-4 bg-transparent">
  <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 mb-24 xl:mb-32">
    <div class="prose">
    <h2>Alex And Ani</h2>
      <p>
  My work encompassed competitive research, a site evaluation, new site map, redesign
  of the entire web and mobile site and strategy. 
  </p>
  <p>
  I created a gift guide and the ability to shop by charity and  meaning.
  I created a mini site for the Charity by Design  giving aspect of the
  company.  
  </p>
  <p>
  This mobile homepage shows all of the optional modules we  created for
  them to use in order to create an updated site  throughout the year.
  </p>
  <p>
  <b>Emphasize philanthropy- Charity by Design </b>When I started working
    with Alex + Ani, Charity by Design where they create designs that give 20%
  to that particular charity, was not  prominent on the site. It had
    raised 30million at the time I started working with them. When the company
  changed management in  2018, Charity by Design had raised 500
  million. 
  <p>
  </P>
    I made Charity by Design its own distinct sub-brand, with its own voice, tag
  line, logo, look and feel, blog, etc. It was an option in the main site
    navigation and items on PLPs and PDPs had a CBD badge. Charity by Design
  page  was given a dynamic editorial-style blog with real stories, and
    not just a summary about philanthropy. During checkout, we used this
   space to show the charities to people who have not noticed them and
  let them choose who they would like to donate to or add  additional
  support. 
  </p>
    </div>
    <div class="flex justify-center">
      <img
        src="alex-103.jpg"
        class="rounded-sm shadow-lg h-auto md:w-2/3 xl:w-2/3"
      />
    </div>
  </div>
  <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 mb-24 xl:mb-32">
    <div class="prose lg:order-last">
  <p>
  <b>Shopping by symbols and meaning </b>My job was to show Carolyn’s
  vision of the Alex and Ani  brand.
  </p>
  <p>
  <i >“They are unique statements that speak volumes  about those who wear
    them. They are symbols marking  individual paths of life.”</i >
    </p>
    <p>
   I focused on shopping by meaning and symbols while  giving more
  information on the history of the meaning or  symbol.  
  Videos were added to increase SEO and movement on  the site. Videos
  were added to the product images, care  and cleaning as well as how to
  wear promo/tutorials. 
  The mobile image here shows a Shop the look page I  designed to allow
  users to shop one item or all on the  same page. 
    </p>
    </div>
    <div class="flex justify-center">
      <img
        src="alex-112.jpg"
        class="rounded-sm shadow-lg h-auto md:w-1/2 xl:w-2/3"
      />
    </div>
  </div>
</div>
<!-- <img src="alex-108.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
<!-- <img src="alex-111.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
<!-- <img src="alex-107.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
<!-- <img src="alex-109.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
<div class="bg-[#d1c4b3] py-24">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h2>Mercedes Castillo</h2>
      <p class="prose-2xl leading-snug">
        The <em><strong>Camuto group</strong></em> wanted&#160;to showcase&#160;<strong><em>Mercedes&#160; Castillo</strong></em>,&#160;Camuto had been&#160;her mentor.
        &#160;This&#160;was a&#160; passion project&#160;for&#160;the group.
        We focused&#160;on innovation&#160;to differentiate&#160;the&#160;experience&#160; on&#160;the&#160;site&#160;from the&#160;crowded&#160;hi-end designer&#160;market.
      </p>
      <p>
        <b>One Page Checkout </b>Checkout&#160;was&#160;designed to
        offer&#160;all of
        the&#160;information&#160;customers&#160;needed&#160;on one&#160;page
        to&#160;curb abandonment.&#160; This checkout was fast&#160;and easy.
      </p>
      <p>
        <b>Sale Stopwatch </b>The stopwatch was created &#160;for the site to
        give some&#160;urgency&#160;to
        purchasing&#160;the&#160;items&#160;during&#160; infrequent&#160;sales.
        Sales would&#160;only happen biannually.&#160;This stopwatch could
        countdown to&#160;sale time&#160;or countdown until
        the&#160;sale&#160;ends.
      </p>
      <p>
        <b>Organic&#160;Search&#160;Content </b
        >Content&#160;layout&#160;for&#160;the&#160;brand&#160;pages
        would&#160;be&#160; curated by Mercedes.&#160;The strategy was to
        drive&#160; organic search&#160;and&#160;create
        content&#160;that&#160;goes&#160; along with the&#160;customer's other
        interests like&#160; travel,&#160;art,&#160;and
        design.&#160;This&#160;content&#160;was&#160;shopable&#160; and
        presented&#160;visually&#160;by&#160;color scheme and&#160; style.
      </p>
      <p>
        <b>Store&#160;finder </b>The&#160;store&#160;finder was more heavy
        hitting&#160;than
        most.&#160;Mercedes&#160;Castillo's&#160;various&#160;product&#160;lines&#160;could&#160;be
        found in some&#160;stores&#160;and not&#160;others.&#160;This&#160;was
        also very important&#160;as&#160;they&#160;decided&#160;to move&#160;to
        a purely&#160;wholesale model in the&#160;end.
      </p>
      <p>
        <b>Horizontal Cart</b> A horizontal&#160;cart is unexpected and creates a
        sense of&#160;playfulness.&#160;Large&#160;images&#160;in the&#160;
        cart&#160;create a luxurious&#160;feeling&#160;even
        in&#160;a&#160;mundane&#160;process.
        Film&#160;like&#160;animations&#160;makes&#160;the&#160;visuals&#160;of&#160;browsing&#160;even&#160;more&#160;appealing.
      </p>
    </div>
    <div class="mt-8 mb-4 md:mb-8">
      <img src="mercedes-000.jpg" class="h-auto w-full rounded-sm shadow-lg" />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 items-start">
      <div class="grid gap-4 md:gap-8">
        <!-- <h2>Mercedes</h2> -->
        <div>
          <img
            src="mercedes-002.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-003.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <div>
          <img
            src="mercedes-005.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
        <div>
          <img
            src="mercedes-009.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-011.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-013.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-015.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <div>
          <img
            src="mercedes-014.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
        <div>
          <img
            src="mercedes-016.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-017.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
      </div>
      <div class="grid gap-4 md:gap-8">
        <div>
          <img
            src="mercedes-025.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-021.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-031.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <div>
          <img
            src="mercedes-037.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-041.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-045.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-055.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-057.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="mercedes-059.png"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-slate-200 py-24">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h2>Bally of Switzerland</h2>
    <p>   
    Bally went&#160;through&#160;a&#160;rebranding&#160;to express&#160;the luxury&#160;of&#160;the Alps,&#160;heritage of&#160;the&#160;brand&#160;and&#160;craftsman&#160;of&#160;the&#160; shoes. &#160; 
    </p>
    <p>
    <b>Scribe Novo handmade&#160;shoes.&#160; </b>Bally had
    updated&#160;the Scribe brand&#160;to Scribe&#160;Novo&#160;and&#160;it
    was&#160;our job&#160;to raise the Bally&#160;brand awareness
    with&#160;a&#160; younger generation. Bally&#160;items&#160;are
    an&#160;investment&#160;that last&#160;a&#160;lifetime. 
    </p>
    <p>
    The layout&#160;for the women&#160;was different&#160; than the men’s
    collection. This helped&#160; differentiate them visually. &#160;Scribe
    was&#160; interwoven&#160;throughout&#160;the men’s pages&#160; to&#160;raise
    awareness of the made&#160;to order&#160; option. 
    </p>
    <p>
    <b>Visual&#160;Footer </b>A&#160;nontraditional&#160;footer&#160;was
    created&#160;for&#160; Bally. &#160;It&#160;gave us&#160;the
    opportunity&#160;to&#160; showcase&#160;special
    content&#160;or&#160;collections&#160; without&#160;putting&#160;promos
    in&#160;the&#160;listings. 
    </p>
    <p>
    <b>Timeline</b> Bally's&#160;history is interesting&#160;and&#160; the&#160;timeline
    showed&#160;Bally’s influence on&#160; men's luxury through the
    decades. &#160; 
    </p>
    </div>
    <div class="mt-8 mb-4 md:mb-8">
      <img src="bally-088_1.jpg" class="h-auto w-full rounded-sm shadow-lg" />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 items-start">
      <div class="grid gap-4 md:gap-8">
        <div>
          <img src="bally-084.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
        <div>
          <img src="bally-087.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
        <div>
          <img src="bally-085.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
      </div>
      <div class="grid gap-4 md:gap-8">
        <div>
          <img src="bally-088.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
        <div>
          <img src="bally-086.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
        <div>
          <img src="bally-091.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div>
        <!-- <div>
          <img src="bally-089.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-[#b8b3ce] py-24">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h2>Godiva</h2>
    <p>
      Godiva sees&#160;itself&#160;a&#160;s&#160;a&#160;luxury
      brand&#160;but&#160;felt&#160;they had&#160;lost&#160; some
      of&#160;their reputation.&#160;I&#160;was&#160;in charge of
      strategy,&#160;design&#160; and user&#160;experience.&#160;I worked
      with&#160;all&#160;of&#160;their&#160;departments&#160;to&#160; help&#160;create
      an&#160;online&#160;experience that&#160;would help relieve&#160; work
      in other&#160;departments and&#160;expedite&#160;fulfillment. 
      </p>
      <p>
      <b>Bringing&#160;back the&#160;luxury </b>
      I&#160;created&#160;new
      content&#160;sections&#160;to elevate&#160;the brand.&#160;A&#160; Glossary
      of&#160;Chocolate,&#160;chocolate chefs&#160;feature and recipes&#160; section
      were added to help&#160;customers get to&#160;know the real&#160; Godiva.
      These&#160;sections
      showed&#160;the&#160;European&#160;roots&#160;of&#160;the&#160; company
      and&#160;the&#160;creative process
      of&#160;the&#160;chefs.&#160;These&#160; sections increased
      customers&#160;arriving&#160;by&#160;organic search&#160; significantly. 
    </p>
      <b>What’s in&#160;the&#160;box? </b>Before&#160;I
      redesigned&#160;the&#160;Godiva&#160;website,&#160;customers&#160;
      could&#160;not&#160;see what&#160;was&#160;inside the
      box&#160;of&#160;chocolates.&#160;I&#160; created a What’s
      Inside&#160;feature on&#160;the&#160;product&#160;details&#160;
      pages&#160;where&#160;users can
      see&#160;the&#160;chocolates&#160;in&#160;detail with&#160; a cross
      section view of&#160;each piece. This created&#160;a&#160;more&#160;
      visceral&#160;shopping&#160;experience. &#160; Filtering was&#160;added
      for allergies&#160;or favorite&#160;types&#160;of&#160;
      chocolate&#160;which helped customers find the&#160;perfect gift.
    </p>
    <p>
      <b>Content is&#160;king </b>The Chocolate&#160;Glossary was&#160;added to
      educate the&#160; customers on&#160;the&#160;different&#160;kinds
      of&#160;chocolates and link&#160;
      from&#160;the&#160;PDP&#160;where&#160;the&#160;pieces&#160;are shown in
      the&#160;What’s&#160; inside&#160;area.&#160; The customers
      could&#160;also find&#160;information items that&#160;
      were&#160;boutique&#160;only&#160;in&#160;order&#160;to drive
      customers&#160;into the&#160; stores.&#160;&#160;
    </p>
    <p>
      <b>Corporate&#160;gifting PDP </b>Godiva has
      large&#160;corporate&#160;gifting&#160;customers.&#160;I&#160;created
      a&#160; unique experience&#160;for these clients.
      </p>
      <p>
      <b>The whole&#160;experience </b>I&#160;met&#160;with
      customer&#160;service and fulfillment&#160; teams
      to&#160;solve&#160;issues that would&#160;make&#160;their&#160; job more
      efficient&#160;without&#160;sacrificing the user&#160;experience.
      We&#160;figured&#160;out a new&#160;way to&#160;do&#160; personalized
      ribbons&#160;and&#160;solved customer&#160;service issues
      like&#160;delivery&#160;times&#160; with&#160;the&#160;new checkout
      design.&#160;I&#160;had wanted&#160; more integration&#160;with&#160;the
      retail&#160;stores&#160;but&#160; this was&#160;to be implemented&#160;in
      later&#160;phases.
    </p>
    </div>
    <div class="mt-8 mb-4 md:mb-8">
      <img
        src="godiva_herocap.jpg"
        class="h-auto w-full rounded-sm shadow2lg"
      />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 items-start">
      <div class="grid gap-4 md:gap-8">
        <!-- <h2>Godiva</h2> -->
        <!-- <img src="godiva-092.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
        <div>
          <img
            src="godiva-093.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <img src="godiva-095.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
        <div>
          <img
            src="godiva-096.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
      </div>
      <div class="grid gap-4 md:gap-8">
        <div>
          <img
            src="godiva-098.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="godiva-099.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="godiva-100.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <img src="godiva-101.jpg" class="h-auto w-full rounded-sm shadow-lg" /> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-24">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h2>Peninsula</h2>
    <p>
    I&#160;was in&#160;charge&#160;of&#160;the&#160;strategy,&#160;booking flow design from&#160; creating&#160;a&#160;widget&#160;on&#160;the homepage&#160;to&#160;follow&#160;through&#160;after&#160; checkout. I&#160;created user&#160;personas with&#160;the Hong&#160;Kong&#160; management&#160;and marketing&#160;teams.&#160;I&#160;&#160;redesigned&#160;the&#160; Peninsula.com sitemap.&#160; 
    </p>
    <p>
    <b>Design&#160;challenges </b>10 different&#160;locations
    with&#160;unique&#160;offerings Multiple languages Multiple
    currencies Use cases-&#160;Booking agents,&#160;current
    clients&#160;with accounts and&#160; new customers 
    </p>
    <p>
    <b>Booking widget </b>Peninsula booking was&#160;very
    complex.&#160;I&#160;solved&#160;this&#160;by&#160;making&#160; a&#160;widget&#160;that&#160;allowed&#160;users
    to&#160;book&#160;multiple rooms&#160;at&#160;the&#160; same
    time.&#160;The&#160;widget went&#160;through&#160;many iterations.&#160; 
    Customers&#160;could&#160;choose&#160;&#160;adjacent or stand alone rooms
    and&#160; filter&#160;by&#160;accessible&#160;options.&#160;Booking
    agents&#160;could enter&#160; booking&#160;codes&#160;right in the
    widget&#160;and get&#160;correct&#160;pricing.&#160; &#160; 
    </p>
    <p>
    <b>Multiple ways to&#160;book </b>Some people like
    to&#160;book&#160;by&#160;dates and&#160;others who are taking a
    leisure&#160; trip often like&#160;to chose their&#160;room first and
    then secure dates.&#160;The&#160; Room&#160;detail&#160;page
    offered&#160;several approaches. Users&#160;may checkout by&#160; choosing
    dates, specific&#160;suites or even by&#160;offers. 
    </p>
    <p>
    <b>Widget&#160;as persistent&#160;cart </b>The
    widget&#160;follows&#160;the&#160;customer all&#160;the&#160;way through
    checkout. This&#160;streamlined&#160;programming&#160; of&#160;the
    booking&#160;process&#160;and&#160;at&#160;the same time helps&#160;users
    stay&#160;on task. 
    Bed&#160;sizes were&#160;able to&#160;be chosen on&#160;the&#160;same
    room&#160;as&#160;well&#160;as&#160;offers. 
    </p>
    <p>
    <b>Design challenges </b>The room&#160;comparison&#160;feature
    highlighted differences&#160;in rooms&#160; and showed&#160;all
    details&#160;in an organized way that could be&#160; scanned&#160;quickly.&#160;This&#160;page&#160;could
    be saved as a PDF or&#160; emaiedl directly to&#160;someone. 
    </p>
    <p>
    Peninsula&#160;is&#160;truly&#160;an&#160; international
    website.&#160;I&#160;worked&#160; with&#160;the design
    team&#160;to&#160; incorporate multiple languages&#160; as&#160;well&#160;as&#160;currencies.&#160; 
    </p>
    <p>
    <b>Perfection&#160;in&#160;the details </b>Peninsula
    wants&#160;customers to&#160;see them as a luxury destination&#160;not&#160;just&#160;an
    accommodation. A section in checkout&#160;called&#160;<i >Perfection&#160;is&#160;in the&#160; Details</i >&#160;was created to&#160;add value&#160;to the experience&#160; and&#160;increase
    cart&#160;value.&#160;Customers could add on&#160; luxury&#160;items&#160;like
    chocolates,&#160;champagne&#160;in the room,&#160;fragrances,&#160;personalize
    newspapers&#160;and&#160; schedule&#160;airport&#160;transfers&#160;in&#160;luxury&#160;vehicles. 
    </p>
    <p>
    Peninsula
    has&#160;a&#160;lot&#160;of&#160;repeat&#160;customers&#160;that&#160;have&#160; accounts&#160;with
    the company.&#160;It was important to&#160; remember
    these&#160;&#34;members&#34; preferences and offer&#160; them&#160;unique
    service. 
    </p>
    <p>
    <b>Confirmation&#160;Details </b>Users were given another chance to
    customize&#160;their stay&#160;after making&#160;a&#160; reservation.
    They&#160;were&#160;also given&#160;the&#160;weather
    for&#160;their&#160;destination. 
    </p>
    <p>
    <b>Ethos&#160;Footer </b >The&#160;footer&#160;represented&#160;the&#160;four&#160;pillars of
    the&#160;Peninsula Experience instead&#160; of&#160;being&#160;just&#160;a&#160;utility. 
    </p>
    <p>
    <b>Follow&#160;Through </b>The&#160;user experience&#160;does
    not&#160;end after&#160;checkout.&#160; We offered&#160;ideas
    and&#160;experiences upon&#160; cancellation We were&#160;able
    to&#160;showcase the other&#160; locations here which
    impressed&#160;how&#160;grand the&#160; hotels are&#160;all&#160;over
    Asia&#160;and the US. 
    </p>
    <p>
    <b>Enhance the&#160;Experience&#160;after checkout </b>Peninsula
    has&#160;world&#160;class restaurants and&#160;spas as&#160; well&#160;as
    tours.&#160;These&#160;experiences were shown on&#160; the&#160;confirmation
    page and could be added&#160;and&#160; booked online. 
    </p>
    </div>
    <div class="py-8">
      <img src="peninsula-065.jpg" class="h-auto w-full rounded-sm shadow-lg" />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 items-start">
      <div class="grid gap-4 md:gap-8">
        <!-- <h2>Peninsula</h2> -->
        <div>
          <img
            src="peninsula-070.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-072.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-076.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-079.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
      </div>
      <div class="grid gap-4 md:gap-8">
        <div>
          <img
            src="peninsula-071.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-082.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-077.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="peninsula-083.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <img
          src="peninsula-066.jpg"
          class="h-auto w-full rounded-sm shadow-lg"
        />
        <img
          src="peninsula-068.jpg"
          class="h-auto w-full rounded-sm shadow-lg"
        />
        <img
          src="peninsula-074.jpg"
          class="h-auto w-full rounded-sm shadow-lg"
        /> -->
        <!-- <div>
          <img
            src="peninsula-080.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-gray-200 py-24">
  <div class="container mx-auto px-4">
    <div class="prose">
      <h2>Samsung</h2>
      <p>
      I was contracted by <i>Samsung Korea</i> to reinvision their US eCommerce site.
      </p>
    </div>
    <div class="py-8">
      <img src="samsung_main.png" class="h-auto w-full" />
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 items-start">
      <div class="grid gap-4 md:gap-8">
        <!-- <h2>Samsung</h2> -->
        <!-- <div>
          <img
            src="samsung-gnb-0.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung-gnb-1.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung-gnb-2.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung-gnb-3.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img src="samsung.jpg" class="h-auto w-full rounded-sm shadow-lg" />
        </div> -->

        <!-- <div>
          <img
            src="samsung-HP.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
        <!-- <div>
          <img
            src="samsung_1R.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
        <div>
          <img
            src="samsung_content.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!--
        <div>
          <img
            src="samsung_home.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung_mobile_nav.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung_PDP-2.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung_PDP.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung_PDP3.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        -->
         <div>
          <img
            src="samsung_PDP_detail.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
         <!-- <div>
          <img
            src="samsung_PDP_mobile.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
        <div>
          <img
            src="samsung_tvguide.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <div>
          <img
            src="samsung_users.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
      </div>
      <div class="grid gap-4 md:gap-8">
        <div>
          <img
            src="samsung_Creative_160509.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div>
        <!-- <div>
          <img
            src="samsung_stacking-order.jpg"
            class="h-auto w-full rounded-sm shadow-lg"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
