{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="flex flex-col w-full justify-center my-40">
  <div class="container mx-auto px-4">
    <div class="">
      {% for child in this.children %}
      <a href="{{ child|url }}">
        <div class="">
          <figure class=""><img class="h-48 w-96" src="{{ child|url }}{{ child.mainimage }}" alt="" />
          </figure>
          <div class="">
            <h2 class="">{{ child.title }}</h2>
            <p>{{ child.blurb }}</p>
            <div class="">
              <button class="">View Project</button>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
