{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {%
block body %}
<div class="flex flex-col w-full justify-center my-40">
  <div class="container mx-auto px-4">
    <div
      class="flex place-content-center mb-20 sm:mb-40 text-md sm:text-xl xl:text-2xl font-light leading-snug"
    >
      <div
        class="xl:w-2/3 text-xl leading-normal sm:text-3xl sm:leading-relaxed"
      >
        <p class="mb-4">
          <strong class="font-medium">Hello!</strong>
        </p>
        <p>
          Most recently, Amy was a <strong>UX Leader</strong> at <em>Cisco Meraki</em> where she led cross-departmental UX strategies that connected dots between cross-org products  to deliver a cohesive customer experience.
        </p>
        <p>
          Before Cisco, Amy held <strong>UX Director</strong> positions at top e-commerce agencies and led product design for start-ups to enterprise level companies like <em>Samsung</em>, <em>State Farm</em>, <em>Sony Ericsson</em>, and <em>Lucid Motors</em>.
        </p>
        <p>
          Amy started <em>Sparkle Labs</em> in 2005 where she created educational kits to teach electronics and green tech. Her work has been shown at <em>MOMA</em>, Art & Science exhibitions throughout Asia and the USA. She speaks on making, Right to repair, and mentors in STEM.      </div>
        </p>
    </div>
  </div>
</div>

{% endblock %}
