{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {%
block body %}
<div class="flex flex-col w-full justify-center my-40">
  <div class="container mx-auto px-4">
    <div
      class="flex place-content-center mb-20 sm:mb-40 text-md sm:text-xl xl:text-2xl font-light leading-snug"
    >
      <div class="xl:w-2/3">
        <p class="mb-4">
          <strong class="font-medium">Hello!</strong>
        </p>
        <p class="mb-4">
          As a UX/Product leader, I possess in-depth expertise in information
          architecture, strategy, research, data analysis, and design. I have a
          proven track record of surpassing business goals using a holistic
          process where I bring together multiple touch-points of the user
          experience. 
        </p>
        <p class="mb-4">
          I am experienced in steering user-centered design for both digital and
          physical projects. My passion lies in supporting my team to find
          solutions that blend the needs and aspirations of society, business,
          and design.
        </p>
        <p class="mb-4">
          I read about DesignOps, develop and promote climate education and hack
          electronics in my free time.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
