{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="flex flex-col w-full justify-center my-40">
  <div class="container mx-auto px-4">

    <div class="flex place-content-center mb-20 text-2xl sm:text-4xl leading-normal font-light">
      <div class="xl:w-2/3 ">
        <p class="mb-4">
          <strong class="font-medium">Hello!</strong>
        </p>
        <p class="mb-4">
         I'm a strategic UX/Product Leader and advocate for social impact, aided by two decades of experience in steering user-centered design for both digital and physical projects.        
        </p>
        <p class="mb-4">
          My passion lies in crafting solutions that seamlessly blend the needs and aspirations of society, business, and design. Let’s work together to make things happen.
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 gap-4 mb-24 text-white">
        <div class="p-12 pt-24 rounded-big bg-amber-500 h-96 lg:col-span-2 relative animate-ease-in slide-in-to-top">
      <a href="projects/lucid">
          <img src="projects/lucid/lucid-air-interior-09.jpg" class="-z-1 rounded-tl-huge rounded-br-big object-right-bottom absolute right-0 bottom-0 h-48 xl:h-80">
          <span class="badge badge-neutral mt-4 mb-1 z-10">Lucid Group</span>
          <h1 class="mb-2 text-4xl font-extrabold relative z-10">
            On Boarding Experience
          </h1>
          <span href="" class="font-bold underline decoration-dotted relative z-10">Service Design & CX</span>
      </a>
        </div>
      <div class="p-12 pt-24 rounded-big bg-indigo-500 h-96 relative">
      <a href="projects/real-customers">
        <img src="projects/real-customers/bokksu.jpg" class="-z-1 rounded-tl-huge rounded-br-big object-right-bottom absolute right-0 bottom-0 h-32 xl:h-40">
        <span class="badge badge-neutral mt-4 mb-1 relative">Bokksu</span>
       <h1 class="mb-2 text-4xl font-extrabold relative">
          Growth Strategy
        </h1>
        <span href="" class="font-bold underline decoration-dotted relative">UX Research & eCommerce</span>
        </a>
      </div>
      <div class="p-12 pt-24 rounded-big bg-lime-600 h-96 relative">
      <a href="projects/sustainability">
        <img src="projects/sustainability/Routing_Hero_Product_a.avif" class="-z-1 rounded-tl-huge rounded-br-big object-right-bottom absolute right-0 bottom-0 h-32 xl:h-40">
        <span class="badge badge-neutral mt-4 mb-1 relative">Cisco Systems</span>
       <h1 class="mb-2 text-4xl font-extrabold relative">
          Global Sustainability UX
        </h1>
        <span href="" class="underline decoration-dotted relative">See the case study.</span>
        </a>
      </div>
      <div class="p-12 pt-24 rounded-big bg-rose-300 h-96 lg:col-span-2 relative saturate-50 contrast-50">
      <!-- <a href="projects/datasheets"> -->
        <img src="static/leds.jpg" class="-z-1 rounded-tl-huge rounded-br-big object-right-bottom absolute right-0 bottom-0 h-48 xl:h-80">
        <span class="badge badge-neutral text-white mt-4 mb-1 relative">Cisco Systems</span>
       <h1 class="mb-2 text-4xl font-extrabold relative">
          Leading the Datasheet Program
        </h1>
        <span href="" class="underline decoration-dotted relative">See the case study.</span>
      <!-- </a> -->
        <div class="p-2 w-fit bg-white contrast-100 font-mono text-black font-bold text-lg">
          under construction
        </div>
      </div>
      <div class="p-12 pt-24 rounded-big bg-cyan-500 h-96 lg:col-span-2  relative ">
      <a href="projects/sparkle-labs">
        <img src="projects/sparkle-labs/UV_kid.jpg" class="-z-1 rounded-tl-huge rounded-br-big object-right-bottom absolute right-0 bottom-0 h-48 xl:h-80">
        <span class="badge badge-neutral mt-4 mb-1 relative">Sparkle Labs</span>
       <h1 class="mb-2 text-4xl font-extrabold relative">
         Educational Electronics
        </h1>
        <span href="" class="underline decoration-dotted relative">See the case study.</span>
        </a>
        <!-- <div class="p-2 w-fit bg-white contrast-100 font-mono text-black font-bold text-lg"> -->
          <!-- under construction -->
        <!-- </div> -->
      </div>
    </div>    

  </div>
</div>


{% endblock %}
