<div class="py-48">
<div class="container mx-auto px-4 ">
      <div class="prose mb-8">
        <p class="">
        A great portal includes key features including: personalization and customization options, educational opportunities, delivery tracking, a community forum, and integrated customer support. Interactive tools such as a charging station locator, cost savings calculator, and environmental impact tracker add value.
        </p>
      </div>
  <div class="lg:grid lg:grid-cols-3 gap-6 text-white">
    <div class="my-12 card bg-primary shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 1</span>
      <h2 class="card-title font-bold">Educate customers</h2>
     <p class="">The learning process should be individual based on previous EV ownership and other factors like where you live. The manual content could be used in new ways until other content could be created.</p>
    </div>
    </div>
    <div class="my-12 card bg-primary shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 2</span>
      <h2 class="card-title font-bold">Leveraging Salesforce data</h2>
        <p class="">
        We could use information from test drives and demos if they are logged into Salesforce to customize the portal.
        Reservation holders would see information on preparing for delivery and tasks they needed to do like sign documents, get insurance and financing, etc..
         Owners would get a walkthrough and audio playlist.
      </p>
    </div>
    </div>
    <div class="my-12 card bg-primary shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 3</span>
      <h2 class="card-title font-bold">Female owners and drivers</h2>
      <p class="">
        Electric vehicles are dominated by male ownership. We needed to focus on the value added features like space and charge speed. We needed to change the way the vehicles were presented overall.
      </p>
    </div>
    </div>
  </div>
</div>
</div>
<div class="pb-32">
  <div class="container mx-auto px-4">
    <div class="prose mb-8">
      <h3 class="font-light text-base uppercase">Research &amp; Analysis</h3>
      <h1 class="">What is a best in class portal?</h1>
    </div>
    <div class="xl:flex gap-24 mb-24 lg:mb-48">
      <div class="prose mb-8">
        <p class="">
        A great portal includes key features including: personalization and customization options, educational opportunities, delivery tracking, a community forum, and integrated customer support. Interactive tools such as a charging station locator, cost savings calculator, and environmental impact tracker add value.
        </p>
        <p class="">
         Seamless integration with a mobile app for on-the-go access and remote vehicle control functions add convenience. Early access to new features is a great way to build brand loyalty and get valuable feedback. 
        </p>
      </div>
      <div class="prose">
        <h4 class="text-lg font-extrabold">How we got there:</h4>
        <ul>
              <li>15 Stakeholder Interviews</li>
              <li> Interviews with vehicle owners of Tesla, Ford and VW</li>
              <li>Competitive Analysis of other brands buying, delivery and scheduling service processes</li>
              <li> Studio visits and on-line demos</li>
              <li>Jobs-to-be-done analysis</li>
              <li>Service design workshops with finance and delivery</li>
              <li>Existing and in-progress user flows</li>
              <li>Sales and engagement analytics</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="2xl:container 2xl:mx-auto mb-32">
    <img src="research2.png" class="w-full">
  </div>
  <div class="2xl:container 2xl:mx-auto">
    <img src="journey_highlevel.jpg" class="w-full shadow-lg">
  </div>
</div>
<div class="py-12 lg:py-16" data-theme="dricula">
<div class="container mx-auto px-4 ">
  <div class="">
      <img src="lucidinterface.png" class="lg:w-9/12 mx-auto block mb-8 rounded-md shadow-lg">
      <!-- <img src="knowledgecenter.png" class="mx-auto block mb-8 w-full rounded-md shadow-lg"> -->
  </div>
</div>
</div>

</div>

<!-- <img src="{{ '/static/leds.jpg'}}" class="mx-auto w-full shadow"> -->



<div class="">
<div class="">
<div class="container mx-auto px-4 pt-24 lg:pt-48">
  <div class="prose mb-12">
    <h1 class="">Reservation to ownership: Building habits.</h1>
      <p>
      The perks of ownership are teased into the reservation and customization process of the portal. Guest users were invited to the same digital experience as the owners.
      </p>
  </div>
  <div class=" md:grid md:grid-cols-3 mb-12 gap-12 ">
    <img src="Progress2_a.png" class="mx-auto block mb-8">
    <img src="Progress2_b.png" class="mx-auto block mb-8">
    <img src="Progress2_c.png" class="mx-auto block mb-8">
  </div>
</div>
<a href="flow_overview.png">
<img class="2xl:container 2xl:mx-auto w-full 2xl:rounded-md 2xl:shadow-lg mb-48 lg:mb-64" src="flow_overview.jpg"/>
</a>
</div>
<div class="bg-primary text-white py-32 lg:py-48" data-theme="dricula">
  <div class="container mx-auto px-4 ">
    <div class="flex flex-col sm:flex-row gap-12 mb-24">
      <div class="w-1/3 prose-xl">
        <h1 class="font-extrabold">Impact</h1>
      </div>
      <div class="prose-xl flex flex-col w-full">
        <div>
          There was a direct correlation between the changes to portal experience and the <strong>46% user to owner conversion rate and increased the revenue generated per session by 51%</strong>.
        </div>
        <div class="divider"></div>
        <div>
          Customer feedback for financing, rebates, and payment was <strong>shifted to positive after sales studios receiving negative feedback</strong>.
        </div>
        <div class="divider"></div>
        <div>
          <em>Lucid Motors</em> has a <strong>top-rated delivery experience</strong> due to the implemented service design changes.       
        </div>
      </div>
    </div>
  </div>
</div>
