<div class="bg-blue-900 text-white py-48 lg:py-64">
  <div class="container mx-auto px-4">
    <div class="prose !prose-invert mb-8">
      <h3 class="font-light text-base uppercase">Research &amp; Analysis</h3>
      <h1 class="">What is a best in class portal?</h1>
    </div>
    <div class="xl:flex gap-24 mb-24 lg:mb-48">
      <div class="prose !prose-invert mb-8">
        <p class="">
        A great portal includes key features including: personalization and customization options, educational opportunities, delivery tracking, a community forum, and integrated customer support. Interactive tools such as a charging station locator, cost savings calculator, and environmental impact tracker add value.
        </p>
        <p class="">
         Seamless integration with a mobile app for on-the-go access and remote vehicle control functions add convenience. Early access to new features is a great way to build brand loyalty and get valuable feedback. 
        </p>
      </div>
      <div class="prose !prose-invert">
        <h4 class="text-lg font-extrabold">How we got there:</h4>
        <ul>
              <li>15 Stakeholder Interviews</li>
              <li> Interviews with vehicle owners of Tesla, Ford and VW</li>
              <li>Competitive Analysis of other brands buying, delivery and scheduling service processes</li>
              <li> Studio visits and on-line demos</li>
              <li> A content audit of the site</li>
              <li>Demos of work in progress at Lucid</li>
              <li>Existing and in-progress user flows</li>
              <li>Analytics information</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="2xl:container 2xl:mx-auto">
    <img src="research2.png" class="w-full">
  </div>
</div>

<div class="container mx-auto px-4 mt-48 lg:mt-64">
  <div class="prose">
    <h1>Do what a dealership does.</h1>
    <p>
      Dealerships handle the necessary paperwork, including title transfer, registration, and temporary tags, making the administrative process more convenient. 
    </p>
    <p>
      They also work with multiple lenders to offer a variety of financing packages, including loans and leases. 
      I led service design workshop with the documentation and financing departments to make sure we are getting all of the required documents while 
    </p>
    <p>
      creating a great experience for the new owners. Our financing user journey had to interface with Bank of America in order for customers to apply for a vehicle loan.
    </p>
  </div>
  <img src="Doc_ DeliveryStages.jpg" class="mx-auto block mt-24 rounded-md shadow-lg">
</div>

<div class="2xl:container 2xl:mx-auto 2xl:rounded-md 2xl:shadow-lg mt-24">
  <a href="flow_happypath.jpg">
    <img src="flow_happypath.jpg" class="">
  </a>
</div>

<div class="2xl:container 2xl:mx-auto 2xl:rounded-md shadow-lg  mt-24">
  <a href="delivery_notcenter.jpg">
    <img src="delivery_notcenter.jpg" class="">
  </a>
</div>

<div class="container mx-auto px-4 mt-24 mb-48 lg:mb-64">
  <div class="prose">
    <p>
    Anticipation and preparation are key phases in the journey to EV ownership. The period between ordering and receiving an EV is filled with excitement, and our portal keeps customers engaged with real-time updates on their vehicle's production status, estimated delivery dates, and insights into what to expect upon delivery. </div>
    </p>
  </div>
</div>

<!-- <img src="{{ '/static/leds.jpg'}}" class="mx-auto w-full shadow"> -->

<div class="bg-amber-700 py-48">
<div class="container mx-auto px-4 ">
  <div class="lg:grid lg:grid-cols-3 gap-6">
    <div class="my-12 card bg-base-100 shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 1</span>
      <h2 class="card-title font-bold">Educate customers</h2>
     <p class="">The learning process should be individual based on previous EV ownership and other factors like where you live. The manual content could be used in new ways until other content could be created.</p>
    </div>
    </div>
    <div class="my-12 card bg-base-100 shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 2</span>
      <h2 class="card-title font-bold">Personalized Experiences</h2>
        <p class="">
        We could use information from test drives and demos if they are logged into Salesforce to customize the portal.
        Reservation holders would see information on preparing for delivery and tasks they needed to do like sign documents, get insurance and financing, etc..
         Owners would get a walkthrough and audio playlist.
      </p>
    </div>
    </div>
    <div class="my-12 card bg-base-100 shadow-xl">
    <div class="card-body">
      <span class="text-sm font-regular uppercase">Opportunity 3</span>
      <h2 class="card-title font-bold">Female owners and drivers</h2>
      <p class="">
        Electric vehicles are dominated by male ownership. We needed to focus on the value added features like space and charge speed. We needed to change the way the vehicles were presented overall.
      </p>
    </div>
    </div>
  </div>
</div>
</div>
  
<div class="container mx-auto px-4 py-48 lg:py-64 ">
  <div class="mb-12 prose">
    <h1>The Vision</h1>
    <p>
      Electric vehicles represent a transformative shift in the automotive industry, not only in terms of technology but also in how customers engage with their vehicles. Lucid Motors recognizes that an informed and engaged customer is more likely to appreciate and fully utilize the advanced features of their EV. Therefore, the customer portal was envisioned as a comprehensive, user-centered digital platform that would cater to the unique needs and questions of EV owners at each stage of their journey.
    </p>
  </div>

  <div class="mt-48 mb-12 text-center">
    <h2 class="font-bold">Stages of Ownership</h2>
  </div>

  <ul class="mb-24 timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    <li>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <div class="text-lg font-black">Design Phase</div>
        <p>
          <strong>Education:</strong> New customers often need to understand the benefits of EV technology, including sustainability, cost savings, and performance improvements.<br/>
           The portal provides in-depth resources about Lucid's cutting-edge technology, design philosophy, and customization options.<br/>
        </p>
        <p>
          <strong>Customization:</strong> Users can interactively design their vehicle, choosing from various options to create a personalized EV that meets their exact preferences and needs.
        </p>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <div class="text-lg font-black">Waiting for Delivery</div>
        <p>
          <strong>Anticipation:</strong> The period between ordering and receiving an EV can be filled with anticipation and excitement. The portal keeps customers engaged with real-time updates on their vehicle's production status, estimated delivery dates, and insights into what to expect upon delivery.
        </p>
        <p>
          <strong>Preparation:</strong> Educational materials prepare customers for the transition to EV ownership, including charging infrastructure, maintenance tips, and tutorials on the vehicle’s features.
        </p>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <div class="text-lg font-black">New Owner</div>
          <p>
            <strong>Onboarding:</strong> As new owners receive their vehicles, the portal offers step-by-step guides and video tutorials to help them get acquainted with their EV. This includes setting up their car, understanding the dashboard, and utilizing the advanced driver-assist features.
          </p>
          <p>
            <strong>Support:</strong> Easy access to support services ensures that any initial questions or issues can be quickly addressed, providing peace of mind to new EV owners.
          </p>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <div class="text-lg font-black">Seasoned Owner</div>
          <p>
            <strong>Optimization:</strong> For seasoned owners, the portal continues to provide value by offering advanced tips on optimizing vehicle performance, maximizing battery life, and making the most of software updates.
          </p>
          <p>
            <strong>Community Engagement:</strong> Owners can connect with other Lucid EV enthusiasts, share experiences, and participate in exclusive events and forums, fostering a strong community around the brand.
          </p>
      </div>
    </li>
  </ul>        

  <div class="carousel w-full w-full rounded-md shadow-lg">
    <div id="item1" class="carousel-item w-full">
      <img src="usertypes.jpg" class="w-full" />
    </div> 
    <div id="item2" class="carousel-item w-full">
      <img src="journey_highlevel.jpg" class="w-full" />
    </div> 
    <div id="item3" class="carousel-item w-full">
      <img src="personalizedcontent.jpg" class="w-full" />
    </div> 
    <div id="item4" class="carousel-item w-full">
      <img src="momentthatmatter.jpg" class="w-full" />
    </div>
  </div> 
  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="btn btn-xs">1</a> 
    <a href="#item2" class="btn btn-xs">2</a> 
    <a href="#item3" class="btn btn-xs">3</a> 
    <a href="#item4" class="btn btn-xs">4</a>
  </div>
</div>

<div class="bg-slate-300 py-48 lg:py-64">
  <div class="container mx-auto px-4 ">
    <div class="prose">
      <h1 class="">Creating a vision for the future: Crawl. Walk. Run.</h1>
      <p>
         I worked closely with the stakeholders of customer service, the app team, finance and delivery to build crawl, walk, run roadmaps. These departments depended heavily on the portal to decrease burn rate.
      </p>
    </div>
      <a href="lucidvenn_v2.png">
        <img src="lucidvenn_v2.png" class="mx-auto block mt-12 mb-48">
      </a>
      <a href="globalsearch.jpg">
        <img src="globalsearch.jpg" class="mx-auto block mt-12 rounded-md shadow-lg">
      </a>
  </div>
</div>

<div class="container mx-auto px-4 pt-24 lg:pt-48">
  <div class="prose mb-12">
    <h1 class="">Reservation to ownership: Building habits.</h1>
      <p>
      The perks of ownership are teased into the reservation and customization process of the portal. Guest users were invited to the same digital experience as the owners.
      </p>
  </div>
  <div class=" md:grid md:grid-cols-3 mb-12 gap-12 ">
    <img src="Progress2_a.jpg" class="mx-auto block mb-8">
    <img src="Progress2_b.jpg" class="mx-auto block mb-8">
    <img src="Progress2_c.jpg" class="mx-auto block mb-8">
  </div>
</div>
<a href="flow_overview.png">
<img class="2xl:container 2xl:mx-auto w-full 2xl:rounded-md 2xl:shadow-lg mb-48 lg:mb-64" src="flow_overview.jpg"/>
</a>

<div class="bg-yellow-700  py-48 lg:py-64" data-theme="dracula">
<div class="container mx-auto px-4 ">
  <div class="flex flex-col sm:flex-row gap-12 mb-24">
    <div class="w-1/3 prose-xl">
      <h1 class="font-extrabold">Impact</h1>
    </div>
    <div class="prose-xl flex flex-col w-full">
      <div>
        There was a direct correlation between the changes to <strong>portal experience</strong> and the <strong>user to owner</strong> conversion rate.
      </div>
      <div class="divider"></div>
      <div>
        Customer feedback for financing, rebates, and payment was <strong>shifted to positive</strong>.
      </div>
      <div class="divider"></div>
      <div>
        <em>Lucid</em> has a <strong>top-rated delivery experience</strong> due to the implemented <strong>service design</strong> changes.
      </div>
    </div>
  </div>
  <div class="">
    <img src="lucidinterface.png" class="mx-auto block mb-8 w-full rounded-md shadow-lg">
  </div>
</div>
</div>
