<div class="bg-cyan-600 py-48 lg:py-64">
  <div class="container mx-auto px-4 bg-transparent" data-theme="dracula"">
    <div class="lg:columns-2 gap-12 mb-24">
      <div class="mb-12 prose">
        <h1 class="">Discover Electronics</h1>
        <p>
          This is our flagship kit and the beginning of it all. We made the first kits by hand and once demand was great enough, we went to China to meet manufacturers. This has been a learning process where now we have a partnership with our factory. 
        </p>
      </div>
      <div class="">
        <img src="discover_factory.jpg" class="rounded-md shadow-lg">
      </div>
    </div>
    <div class="lg:columns-2 gap-12 mb-24">
      <div class="mb-12 prose">
        <p>
          From the beginning, we worked to make the packaging sustainable and free of plastics. The Discover Electronics kit is in its third version. From surveys and feedback from educators and owners of the kit, we learned that some of them buy plastic containers to store the parts. In the third version, we totally redesigned the packaging to make the kit itself a storage containers made out of pulp paper waste.
        </p>
      </div>
      <div class="">
        <img src="mouse_LES.jpeg" class="rounded-md shadow-lg">
      </div>
    </div>
    <div class="lg:lg:columns-2 gap-12 mb-24">
      <div class="mb-12 prose">
        <h1 class="">Papertronics</h1>
        <p>
          Papertronics are a line of electronic paper toys. I led the Product Design for both volumes. Our first release was Papertronics - Lunar Landers Vol 1. This kit comes in a pack of three. One is blank and you can design it yourself.
        </p>
        <p>
          The second release came with glue dots so customers could make them right out of the package.
        </p>
        <p>
          We promoted these by having well-known artists create their own Lunar Landers for an exhibition. 
        </p>
      </div>
      <div class="">
        <img src="UV_kid.jpg" class="rounded-md shadow-lg mb-6">
        <img src="UVskulls.jpg" class="rounded-md shadow-lg mb-6">
        <img src="UV_cover.jpg" class="rounded-md shadow-lg mb-6">
      </div>
    </div>
  </div>
