{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {%
block body %}
<div class="container mx-auto px-4 mb-16 lg:mb-32 flex flex-col items-center">
  <div class="mt-48 flex flex-col justify-center items-center">
    <div class="mb-2 font-black uppercase">{{ this.client }}</div>
    <h2
      class="mb-6 md:mb-8 lg:mb-10 text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-extralight text-center"
    >
      {{ this.title }}
    </h2>
    <hr class="mb-6 md:mb-8 border-b border-base-content-300 w-4/6" />
    <div class="flex flex-wrap gap-3 justify-center">{{ this.tags}}</div>
  </div>
  <div
    class="mt-10 prose md:prose-lg lg:prose-xl text-left sm:text-center leading-snug"
  >
    {{ this.description }}
  </div>
</div>

{% if this.showHTMLblock %}
<div class="2xl:container mx-auto">{{ this.htmlblock }}</div>
{% endif %} {% if this.showmainimage %}
<div class="2xl:container mx-auto">
  <img
    class="w-full 2xl:rounded-md {% if this.mainimageshadow %}shadow-xl {% endif %} {% if this.mainimageborder %} border border-base-200{% endif %}"
    src="{{this.mainimage}}"
  />
</div>
{% endif %} {% if this.showtable %}
<div class="container mx-auto px-4 mt-12 lg:mt-64">
  <div class="mx-auto grid lg:grid-cols-2 gap-8 sm:w-3/4">
    <div class="prose">
      <h3 class="font-extrabold uppercase whitespace-nowrap">Business Goals</h3>
      {{ this.goals }}
    </div>

    <div class="prose">
      <h3 class="font-extrabold uppercase whitespace-nowrap">Challenges</h3>
      {{this.challenges}}
    </div>

    <div class="prose">
      <h3 class="font-extrabold uppercase whitespace-nowrap">Solutions</h3>
      {{this.solutions}}
    </div>

    <div class="prose">
      <h3 class="font-extrabold uppercase whitespace-nowrap">Role</h3>
      {{ this.role}}
    </div>
  </div>
</div>
{% endif %} {% if this.showimpact %}
<div class="container mx-auto px-4 mt-16 lg:mt-48">
  <div class="mx-auto flex flex-col gap-8 sm:w-3/4">
    <div class="prose max-w-none">
      <h3 class="w-min font-extrabold uppercase whitespace-nowrap">Impact</h3>
    </div>
    <div class="prose">{{ this.impact }}</div>
  </div>
</div>
{% endif %} {% include this.body %} {% endblock %}
