<div class="bg-accent py-24 mt-24 lg:mt-48">
  <div class="container mx-auto mb-24 mt-40 px-4">
    <div class="grid lg:grid-cols-2 gap-12">
      <div class="prose">
        <h1>A lack of requirements call for actionable research.</h1>
        <ul class="list-none">
          <li>
            <strong>Spearheaded</strong> a comprehensive data analysis project
            to review user journeys of sustainability-focused users.
          </li>
          <li>
            <strong>Directed</strong> the analysis of UX research data,
            including interviews, surveys, and usability testing, to gain deep
            insights into user preferences and behavior.
          </li>
        </ul>
        <h2>Results:</h2>
        <ul class="list-none">
          <li>
            <strong>Identified critical barriers</strong>, such as fragmented
            information placements and the absence of energy data, which
            hindered user engagement.
          </li>
          <li>
            <strong>Recognized</strong> that high-level sustainability
            information, while engaging for Press and people researching Cisco,
            failed to drive users to product and solution pages, necessitating a
            strategic overhaul.
          </li>
        </ul>
      </div>
      <div class="">
        <img src="solutions.jpg" class="mb-4 shadow-lg rounded-md" />
        <img src="pages-2.jpg" class="mb-4 shadow-lg rounded-md" />
      </div>
    </div>
  </div>
</div>

<div class="py-48">
  <div class="container mx-auto px-4">
    <div class="lg:grid lg:grid-cols-3 gap-6">
      <div class="my-12 card bg-accent shadow-xl">
        <div class="card-body">
          <span class="text-sm font-regular uppercase">Opportunity 1</span>
          <h2 class="card-title font-bold">Show, Don't Tell</h2>
          <div>
            <p class="">
              Sustainable solutions were transformed into key features in the
              sales funnel.
            </p>
            <p class="">
              The visibility of product and solutions' energy certifications and
              power management capabilities were highlighted.
            </p>
          </div>
        </div>
      </div>
      <div class="my-12 card bg-accent shadow-xl">
        <div class="card-body">
          <span class="text-sm font-regular uppercase">Opportunity 2</span>
          <h2 class="card-title font-bold">Consistency</h2>
          <div>
            <p class="">
              Energy certifications and data points were integrated into product
              pages, marketing materials, and user interfaces to reinforce this
              information throughout the user journey.
            </p>
            <p class="">
              Critical sustainability information was transformed from being
              buried to prominent and easily accessible.
            </p>
          </div>
        </div>
      </div>
      <div class="my-12 card bg-accent shadow-xl">
        <div class="card-body">
          <span class="text-sm font-regular uppercase">Opportunity 3</span>
          <h2 class="card-title font-bold">Design & Best Practices</h2>
          <div>
            <p class="">
              Cisco can create data center design guides and best practice
              guides can empower Cisco's customers to make informed decisions
              and take actionable steps toward building more sustainable data
              centers and network infrastructures.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-accent py-48 lg:py-48">
  <div class="container mx-auto lg:columns-2 gap-12 px-4">
    <div class="mb-12 prose">
      <h1>Elevating sustainability through design system innovation</h1>
      <p>
        To support Cisco's environmental commitments, RFPs, and advance the
        circular economy model, I developed two scalable patterns that
        seamlessly integrated sustainability messaging across multiple user
        touchpoints.
      </p>
      <p>
        These enhancements accommodate varying content levels, from one to six
        key sustainability facts, ensuring flexibility for product pages,
        end-of-life notices, and marketing collateral. By aligning with the
        broader design system framework and working with the design system team,
        the patterns maintain consistency within the system while amplifying
        environmental storytelling.
      </p>
    </div>
    <div class="">
      <img src="scalable_pattern.jpg" class="mb-12 shadow-lg rounded-md" />
      <img src="lifecycleprograms.PNG" class="shadow-lg rounded-md" />
    </div>
  </div>
</div>

<div class="bg-gray-200 py-48 lg:py-48">
  <div class="container mx-auto lg:columns-2 gap-12 px-4">
    <div class="mb-12 prose">
      <h1>Thought Leadership</h1>
      <p>
        In order to measure power accurately, standardization is key. Several
        <a href="talking-same-power-language.pdf">white papers</a> were released
        to support the our efforts to accurately measure product power. Cisco is
        leading these standardization efforts across the information and
        communications technology (ICT) industry.
      </p>
    </div>
    <div class="">
      <img src="preview.png" class="mb-12 shadow-lg rounded-md" />
    </div>
  </div>
</div>

<div class="container mx-auto px-4 mt-48 lg:mt-64 pb-24 lg:pb-48">
  <div class="flex flex-col sm:flex-row gap-12">
    <div class="w-1/3 prose-xl">
      <h1 class="font-extrabold">Impact</h1>
    </div>
    <div class="prose-xl flex flex-col">
      <div>
        Pioneered the development and
        <strong
          >implementation of a pattern to effectively promote lifecycle
          programs</strong
        >
        for hardware products and end-of-life information.
      </div>
      <div class="divider"></div>
      <div>
        Established a
        <strong>visually distinctive, scalable pattern</strong> for consistent
        sustainability messaging across the site.
      </div>
      <div class="divider"></div>
      <div>
        <strong>Integrated certifications</strong> Energy Star and Titanium into
        the redesigned content, ensuring they were prominently featured.
      </div>
      <div class="divider"></div>
      <div>
        Significantly improved the user experience by making critical
        sustainability information
        <strong
          >easily accessible, engaging, and seamlessly integrated into the user
          journey</strong
        >.
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pb-48 lg:pb-64">
  <div class="lg:grid lg:grid-cols-3 lg:gap-12">
    <div class="lg:order-1">
      <h3 class="m-2">
        Product page with certifications and power management information.
      </h3>
    </div>
    <div class="lg:order-4">
      <img src="UCSXSeriesEcoCertsMix.jpg" class="shadow-lg rounded-md mb-12" />
    </div>
    <div class="lg:order-2">
      <h3 class="m-2">
        Detailed product sustainability information on datasheets.
      </h3>
    </div>
    <div class="lg:order-5">
      <img
        src="SustainabilityProfiles.jpg"
        class="shadow-lg rounded-md mb-12"
      />
    </div>
    <div class="lg:order-3">
      <h3 class="m-2">Circular economy information on End-of-Life page.</h3>
    </div>
    <div class="lg:order-6">
      <img src="eolmigration.jpg" class="shadow-lg rounded-md mb-12" />
    </div>
  </div>
</div>
